.App {
  text-align: center;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  height: 100vh;
  padding: 2rem;
}

.fetchBtn{
  padding: 10px;
  border: none;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: rgb(0, 136, 255);
  cursor: pointer;
  margin: 2rem;
}
